body {
  background: black;
  color: white;
}
.common-line {
  height: 100vh;
}

.add-product {
  /* border: 1px solid red; */
}

.input-filed {
  border: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.side-nav {
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.delete-btn {
  font-size: 50px;
  cursor: pointer;
}
.delete-btn:hover {
  color: red;
}
