body {
  background: black;
  color: white;
}
.common-line {
  height: 100vh;
}

.add-product {
  /* border: 1px solid red; */
}

.input-filed {
  border: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.side-nav {
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.delete-btn {
  font-size: 50px;
  cursor: pointer;
}
.delete-btn:hover {
  color: red;
}

.auth-card {
  height: 100vh;
}

.auth-main-cart {
  border: 1px solid grey;
  border-radius: 13px;
  padding: 50px;
}

.input-field {
  color: white;
  border: none;
  margin-bottom: 20px;
  width: 400px;
  background-color: black;
  border: 1px solid grey;
}
.order-item p {
  line-height: 10px;
}
